body {
  background-color: #619E9E;
} 

.editor{
  background-color: rgb(22, 22, 22);
  color: white;
  resize: none;
  border: none;
  overflow: hidden;
  text-align: left;
  font-size: 13px;
  margin: 2% auto;
}

.preview {
  font-size: 16px;
  box-shadow: 1px 1px 10px 2px darken(#619E9E, 50%);
  background-color: aliceblue;
  padding: 2% 8%;
  margin: 2% auto;
  width: 50%;
}